{% extends "base.html" %}

{% block title %}Password Reset{% endblock title %}


{% block bodyExt %}
    <div class="dark_img">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div style="margin-top:50px;" class="window">
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    </div>
{% endblock %}
