<div class="row" style="margin-top: 45px;">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <!--Google Map window-->
        <div id="mapWindow">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">

                <ui-gmap-circle center='circle.center'
                    radius='circle.radius'
                    fill='circle.fill'
                    stroke='circle.stroke'>
                </ui-gmap-circle>

                <ui-gmap-marker coords="marker.coords" icon="marker.icon" idKey="marker.id">
                    <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                        <div style="color: blue">You're Here!</div>
                    </ui-gmap-window>
                </ui-gmap-marker>

                <ui-gmap-markers models="filterPartyMarker" icon="'icon'" coords="'location'" click="'onClick'">
                    <ui-gmap-window show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                        <div>I get it!</div>
                    </ui-gmap-window>
                </ui-gmap-markers>

            </ui-gmap-google-map>
        </div>
    </div>
    <!--Distance selector-->
    <div class="col-md-4">
        <div class="contBox contBoxExt">
            <span class="inline title">Distance</span>
            <span class="right" style="margin-top: 8px;">
                <input type="radio" ng-model="circle.radius" ng-value="500" name="circle"> 500m
                <input type="radio" ng-model="circle.radius" ng-value="1500" name="circle" checked="checked"> 1.5km
                <input type="radio" ng-model="circle.radius" ng-value="3000" name="circle"> 3km
                <input type="radio" ng-model="circle.radius" ng-value="10000" name="circle"> 10km
            </span>
        </div>
        <div class="contBox contBoxExt">
            <span class="inline title">Keywords</span>
            <span class="right"><input type="text" class="form-control noBorder" ng-model="partyKwd" placeholder="Title keywords"></span>
        </div>
        <div class="contBox contBoxExt">
            <span class="inline title">Date In</span>
            <span class="right" style="margin-top: 8px;">
                <input type="radio" ng-model="" ng-value="" name="circle"> 7 days
                <input type="radio" ng-model="" ng-value="" name="circle" checked="checked"> 1 month
                <input type="radio" ng-model="" ng-value="" name="circle"> Longer
            </span>
        </div>
        <div class="contBox contBoxExt">
            <span class="inline title">Party Type</span>
            <span class="right" style="margin-top: 8px;">
                <input type="radio" ng-model="" ng-value="" name="circle"> Public
                <input style="margin-left: 50px;" type="radio" ng-model="" ng-value="" name="circle"> Private
            </span>
        </div>
        <h2 id="mapWord">Browse parties!! <span style="font-size: 12px;"><br>
            <img height=30 width=30 ng-src="/static/img/host-icon.png"> = Host,
            <img height=30 width=30 ng-src="/static/img/check_box.png"> = Go !
            </span>
        </h2>
    </div>
</div>


<div class="row" style="margin-top: 5px;">
    <div class="col-md-1"></div>
    <div class="col-md-10" align="center">
        <div class="partyBox" ng-repeat="party in parties | filter: partyKwd">
            <flip flip-toggle horizontal>
                <flip-front>
                    <img height=150 width="250" ng-src='media/{{ party.partyImage }}'>
                    <p class="partyTitle"><b>
                        {{ party.title }}</b>
                    </p>
                    <span class='partyBoxDate'><b>{{ party.time | date:'MM / dd'}}</b></span>
                </flip-front>
                <flip-back style="text-align: left">
                    <div class="partyBoxBack">
                        <h4>{{ party.title }}</h4>
                        <p>Time: {{ party.time | date:"MM/dd/yyyy 'at' h:mma" }}</p>
                        <p>Host: {{ party.owner.username }}</p>
                        <p>Place: {{ party.streetnum }} {{ party.street }}, {{ party.city }}, {{ party.zip_code }}, {{ party.country }}</p>
                        <p>Room Capacity: <!--hard code-->2 / {{ party.maxPpl }}</p>
                        <p>Limits: {{ party.private }} party</p>
                    </div>
                </flip-back>
            </flip>
            <div ng-if="partyHostBy(party)" class="statusIcon">
                <img style="float:left;" height=40 width=40 ng-src="/static/img/host-icon.png">
            </div>
            <div ng-if="partyAttend(party)" class="statusIcon">
                <img style="float:right;" height=40 width=40 ng-src="/static/img/check_box.png">
            </div>
            <div ng-if="!partyAttend(party)" class="statusIcon">
                <img style="float:right; opacity: 0.2" height=40 width=40 ng-src="/static/img/check_box.png" ng-click="goParty(party.id);">
            </div>
        </div>
    </div>
</div>



